@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:#0a1930;
}

#experienceTwo{
  display: none;
}
#experienceThree{
  display: none;
}
#experienceFour{
  display: none;
}
#experienceFive{
  display: none;
}
#experienceSix{
  display: none;
}


header.active{
  background: #0a1930
}

.social{
  cursor: pointer;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 1.5rem;
 position: absolute;
 bottom: 6rem;
 color: gray;
 padding-left: 40px;
}

.social a:hover{
  color: aquamarine;
  transform: translateY(-5px);
}
.nav{
  background: #0a1930;
}